<style>
    body{
      margin: 0;
    }
  </style>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="text-center">New Post</h1>

        <%= render 'form', post: @post %>

        <%= link_to 'Back', posts_path, class: "btn btn-secondary text-white" %>
    </div>
    <div class="col-4"></div>
</div>


<%= render 'partials/foot' %>